@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: crimson;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 27% 0 38px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  color: cornsilk;
  padding: 1% 0 1% 8%;
  gap: 100%;
}

.logo {
  width: 80px;
  height: 100%;
}

.movieTitle {
  font-size: 1.4rem;
  color: beige;
}

.counter {
  font-size: 2rem;
  color: green;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 80%;
}

main {
  padding: 5% 0 0 0;
  margin: 1%;
}

.moviecards-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  justify-content: center;
}

.imageTextContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .logo {
    display: none;
  }

  .header-content {
    display: flex;
    justify-content: flex-end;
    background-color: crimson;
    color: cornsilk;
    padding: 1% 0 1% 0%;
    gap: 7%;
  }
}
